.card_wrapper{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.margin__top{
    margin-top: 10px;
}

.card__header--wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h5{
        opacity: 0.7;
        font-weight: 500;
    }

    .icon__wrapper{
        width: 30px;
        height: 30px;
        background-color: royalblue;
        border-radius: 50%;
        margin-right: 10px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .icon__wrappers{
        font-size: 28px;
        color: #D60002;
        display: flex;
        margin-right: 10px;
    }

}

.card__content {
    padding-top: 18px;

    .card__content--title{
        font-size: 1.1rem;
        opacity: 0.9;
        margin-bottom: 16px;

    }

    p{
        font-size: 14px;
        text-transform: capitalize;
        opacity: 0.9;
        // letter-spacing: 0.4px;
        line-height: 20px;
    }

}

.comment__wrapper{
    padding-top: 22px;

    .repost__share{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #7A66FD;
    }
    
    .dot{
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #7A66FD;
        margin: 0 7px;
        display: block;
    }

    .comment{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;

        .circle__comment{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        input{
            padding: 7px 12px;
            flex: 1;
            border: none;
            outline: none;
            border-radius: 20px;
            background-color: #F6F6F6;
        }
    }
}

.card__image{
    width: 100%;
    height: 208px;

    img{
        width: 100%;
        height: 100%;
    }
}

.p20{
    padding-bottom: 20px;
}