* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  // background-color: red;
  //  height: 100vh;
}

.app{
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}